@font-face {
    font-family: 'cozettevectorregular';
    src: url('./fonts/cozette/cozettevector-webfont.woff2') format('woff2'),
        url('./fonts/cozette/cozettevector-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
